<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSPLibrary</display-name>
  <!-- <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/JSPLibrary</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref> -->
  
  <servlet>
		<servlet-name>frontController</servlet-name>
		<servlet-class>controller.FrontContoller</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>
                /WEB-INF/commandHandler.properties
            </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>frontController</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  
  <!-- 로그인 체크 필터 시작 -->
  <filter>
  	<filter-name>LoginCheckFilter</filter-name>
  	<filter-class>filter.LoginCheckFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>LoginCheckFilter</filter-name>
  	<url-pattern>/board/*</url-pattern>
  </filter-mapping>
  <!-- 로그인 체크 필터 끝 -->
  
  <!-- character 필터 시작 -->
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>character.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- character 필터 시작 -->
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/HeadSub.jspf</include-prelude>
    </jsp-property-group>
  
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/Head.jspf</include-prelude>
      <include-coda>/Tail.jspf</include-coda>
    </jsp-property-group>
  
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-coda>/TailSub.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
  
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
</web-app>