<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSPLibrary</display-name>
  <servlet>
    <servlet-name>JDBCInit</servlet-name>
    <servlet-class>init.JDBCInit</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <context-param>
    <param-name>mysql_forname</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>mysql_url</param-name>
    <param-value>jdbc:mysql://localhost:3306/study</param-value>
  </context-param>
  <context-param>
    <param-name>mysql_id</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>mysql_pw</param-name>
    <param-value>z1f5d8a6</param-value>
  </context-param>
  <context-param>
    <param-name>pool_driver</param-name>
    <param-value>org.apache.commons.dbcp2.PoolingDriver</param-value>
  </context-param>
  <context-param>
    <param-name>pool_dpcp</param-name>
    <param-value>jdbc:apache:commons:dbcp:</param-value>
  </context-param>
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/*</url-pattern>
      <include-prelude>/HeadSub.jspf</include-prelude>
      <include-coda>/TailSub.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>